.card {
  max-width: 413px;
  position: relative;
}

.card__title {
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__delete-button {
  background-image: url(../images/State=DeleteIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__delete-button:hover {
  background-image: url(../images/State=deleteHover.svg);
}

.card__like-button {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  opacity: 40%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/like\ button.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  background-image: url(../images/like\ btn\ hover.svg);
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__like-button {
    width: 20px;
    height: 18px;
  }
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 1.2;
  }
}
