.card {
  max-width: 413px;
}

.card__title {
  max-width: 353px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px 0 0;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-button {
  background-image: url(../images/Union.png);
  width: 23px;
  height: 20px;
  top: 425px;
  left: 390px;
  opacity: 40%;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__like-button {
    width: 20px;
    height: 18px;
  }
  .card__image {
    height: 250px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1.2;
  }
}
