.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__title {
  color: #212121;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
