.modal {
  visibility: hidden;
  background-color: #0000800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  font-size: 22.63px;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  color: #212121b2;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #212121b2;
  opacity: 40%;
  cursor: pointer;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: #212121;
}
.modal__input::placeholder {
  color: #212121b2;
  font-weight: 500;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .modal__submit-button {
    width: 100%;
    height: 52px;
    padding: 18px 0;
    margin: 0 0 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
  }
}
.modal__close-button {
  top: 32px;
  right: 32px;
}

.modal__title {
  margin: 0 0 32px;
  line-height: 100%;
}
