.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 28px 36px;
  box-sizing: border-box;
  position: relative;
}
.modal__container--preview {
  padding: 0;
  background-color: transparent;
  max-width: fit-content;
}

.modal__close-button {
  background-image: url("../images/closing\ icon\ black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 36px;
  opacity: 0.4;
}

.modal__close-button--preview {
  background-image: url("../images/Preview-closebtn.svg");
  top: 0;
  right: -52.5px;
  position: absolute;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  color: #212121b2;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 100%;
}

.modal__input:hover {
  border-color: #212121;
}
.modal__input::placeholder {
  color: #212121b2;
  font-weight: 500;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  cursor: pointer;
}

.modal__submit-button:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  color: #212121;
  margin-bottom: 24px;
  margin-top: 0;
  padding: 0;
  display: block;
}

.modal__title--preview {
  background-color: #212121;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  color: #fff;
  margin: 8px 0 0;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .modal__container {
    padding: 22px 12px 12px;
    max-width: 100%;
  }

  .modal__close-button {
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
  }
  .modal__title {
    font-size: 20px;
    margin: 0 0 20px;
  }
  .modal__input {
    font-size: 16px;
    padding: 12px;
    margin-top: 8px;
  }

  .modal__submit-button {
    width: 100%;
    padding: 14px 0;
    margin: 0;
    height: auto;
  }

  .modal__close-button--preview {
    top: -48px; /* Adjusted for better alignment */
    right: 0;
    position: absolute;
    z-index: 3;
  }

  .modal__image {
    max-width: unset;
  }
}
