.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0 0 12px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  opacity: 0.7;
  font-weight: 500;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  margin-top: auto;
  padding: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  opacity: 70%;
  background: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #f2f2f2;
  background: #212121;
  border-radius: 8px;
  border-style: none;
}

.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }
  .profile__edit-btn {
    margin-top: 20px;
  }

  .profile__add-button {
    margin: 0;
    width: 288px;
  }
}
